.emoji-wrapper{
  width: 300px;
  max-height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  .emoji-item{
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
  }
}
